*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
    height: 90px;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #551fbd;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    background-color: #551fbd;
    color: #a2eacb;
}
nav .active a{
    background-color: #551fbd;
    color: #a2eacb;
}
/* Parte do banner*/ 
#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: right;
    height: 670px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}
.banner_headline h1{
    font-size: 70px;
    color: #551fbd;
    text-shadow: 0px 1px #a2eacb ;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.banner_headline h2{
    font-size: 21px;
    color: #551fbd;
    text-shadow: 0px 1px #a2eacb ;
    width: 350px;
}
.banner_options{
    height: 210px;
    display: flex;
    justify-content: space-between; /*texte */ 
}
.centralizar_banner_options{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner1, .banner2, .banner3{
    flex:1;
    color: #551fbd;
}
.banner1{
    background-color: #a2eacb;
}
.banner2{
    background-color: #7cd3ad;
}
.banner3{
    background-color:#42cf92;
}
.banner1 h3, .banner2 h3, .banner3 h3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner1 p, .banner2 p{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.week_banner3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #888383;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
}
.banner_options .read_more{
    border: 1px solid #8bdab9;
    box-shadow: 4px 4px #42cf92;
}
.banner_options .read_more2{
    border: 1px solid #6bbe9c;
    box-shadow: 4px 4px #3ab17d;
    margin-bottom: 20px;
}
.banner_options .read_more,
.banner_options .read_more2{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.banner_options .read_more:hover,
.banner_options .read_more2:hover{
    opacity: 0.9;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex:2;
}
#geral aside{
    flex:1;
}

/* Conteúdo da página section e aside */

.widget_title{    /*Títulos */
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #551fbd;
    font-size: 21px;
    font-weight: bold;
} 
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color:#a2eacb ;
    margin-top: 10px;
}
.widget_body_quadrado{
    display: flex;
    flex-wrap: wrap;
}
.widget_body_quad{
    width:155px;
    height:155px;
    background-color: #551fbd;
    margin: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.widget_body{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex:1;
    min-width:300px;
    margin-right:20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: #551fbd;
    color: #42cf92;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    background-color: #42cf92;
    color: #551fbd;
    font-size: 12px;
    padding: 10px;
}
article .news_image{
    margin-top: 30px;
}
article .news_image img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #551fbd;
}
article .news_resume, aside .news_resume{
    font-size: 13px;
    color: #4b4555;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
aside .contato{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
aside .contato p{
    color: #4b4555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
aside .contato img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #4F4F4F;
}
footer .footer_menu{
    display: flex;
    flex:1;
}
.fm1, .fm2 ,.fm3{
    flex:1;
    color: #551fbd;
}
.fm1{
    background-color: #a2eacb;
}
.fm2{
    background-color: #7cd3ad;
}
.fm3{
    background-color:#42cf92;
}
.fm1 h3, .fm2 h3, .fm3 h3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fm1 p, .fm2 p, .fm3 p{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.footer_area_item{
    flex:1;
}
.footer_area{
    display: flex;
}
.footer{
    display: flex;
    flex-direction: column;
}
footer .widget_title_text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0.1em 0.2em 0.05em #551fbd;
}
footer .widget_title_bar{
    height: 1px;
    width: 50px;
}
.footer_resume, .footer_resume_desc, .footer_desc_contato{
    font-size: 13px;
    color: #ada9a9;
    line-height: 17px;
}
.footer_resume{
    margin-bottom: 20px;
    margin-right: 10px;
}
.footer_resume_desc{
    display: flex;
    justify-content: space-between;
}
.footer_desc_contato{
    margin-top: 18px ;
    margin-right: 25px;
}
.footer_redes_socias{
    margin-top: 20px;
}
.footer_redes_socias img{
    width: 25px;
    height: 25px;
}
.footer_latest_posts{
    display: flex;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ada9a9;
    margin-bottom: 10px;
    margin-right: 10px;
}
.seta{
    width: 20px;
}
.footer_resume_latest_post{
    flex:1;
    line-height: 16px;
}
.copy{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ada9a9;
    border-top: 1px solid #6d6a6a;
    padding-top: 20px;
    padding-bottom: 25px;
}
.menu_Mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.mm_line{
    height: 3px;
    background-color: #3a0e8b;
}

@media (max-width:800px){
    header .logo{
        padding-left: 10px;
    }
    header .logo img{
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    #banner{
        background-position: center;
        height: 300px;
        margin-bottom: 455px;
    }
    .banner_headline h1{
        font-size: 45px;
        padding-left: 20px;
    }

    .banner_options .read_more{
        padding: 5px;
    }
    .banner_headline h2{
        font-size: 13px;
        padding-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        padding-bottom: 20px;
    }
    .banner_options{
        display: flex;
        flex-direction: column;
        margin-bottom: 270px;
    }
    .banner1 h3, .banner2 h3, .banner3 h3 {
        font-size: 16px;
    }
    .read_more{
        margin-bottom: 15px;
    }
    .container{
        flex-direction: column;
    }
    #geral{
        margin-left: 20px;
        margin-top: 30px;
    }
    .widget_body_quad{
        width:100px ;
        height:100px ;
        font-size: 12px;
    }
    aside .news_resume {
        margin-right: 20px;
    }
    .footer_menu{
        flex-direction: column;
    }
    .fm1, .fm2, .fm3{
        margin-left: 25px;
        margin-right: 25px;
    }
    .footer_area{
        flex-direction: column;
    }
    .footer_area_item, .copy{
        margin-left: 20px;
    }
    .sub_div img,
    .sub_div p{
        margin-bottom: 10px;
    }
    aside .contato img{
        width: 30px;
        height: 30px;
    }
    aside .contato p{
        font-size: 12px;
    }
    header{
        height: auto;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100vw;
        background-color: #ffffff;
        display: none;
        font-size: 14px;
    }
    .menu_Mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}





 